// Colores
$primary:       #072721 !default;
$secondary:     #126945 !default;
$success:       #198754 !default;
$info:          #1ca76d !default;
$warning:       #ffc107 !default;
$danger:        #dc3545 !default;
$light:         #f8f9fa !default;
$dark:          #212529 !default;
$gray:          #e9ecef !default;

// Temas
$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark,
  "gray":       $gray,
) !default;

// Body
$body-bg: #dfdede;
$table-bg-scale: -0%;
$component-active-bg: $secondary;


// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
